images
__pycache__
config.py
vk_config.v2.json
index.xml
data
parsers/aviasales/country_price_by_month.csv
parsers/aviasales/types.json

*.pyc
database.feather
*.mp4
.vscode
files/moving_file/paths.py
poetry.lock
.env
log
audio_to_text/latest_silero_models.yml
audio_to_text/nohup.out
files/check/files.txt
files/check/валидация.txt
files/moving_file/log.txt
files/result_rename copy.txt
files/result_rename_2.txt
files/result_rename_new.txt
files/result_rename.txt
parsers/habr/data.zip
ml/face_detection/Kornia-YuNet/res.txt
ml/face_embedding/all_208.txt
ml/face_embedding/data_1.feather
ml/face_embedding/res.txt
